/*
Tooplate 2124 Vertex
https://www.tooplate.com/view/2124-vertex
*/
.main { box-sizing: border-box;  width:100%}

html, body { overflow-x: hidden;  margin: 0;}
body { 
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    background-color: #fffffff1;
    color: #374437;
    margin: 0;
}

a { color: #374437; text-decoration: none; }
a:hover {  color: #9C9; }

h1 {
    margin: auto;
    font-size: 65px;
    font-family: "Didot", serif;
    padding: 0px 0px 30px 0px;
    text-align: center;
    line-height: 1.6;
    color: #374437;
}

h2 {
    line-height: 1;
}

p {
    line-height: 1.4;
    margin-bottom: 50px;
    font-size: 18px;
}

h3{
    font-size: 18px;
    padding-left: 60px;
}

.tm-text-small { font-size: 1em; }
.tm-text-caption { 
    font-size: 1em;
    font-style: italic; }
.tm-text-center { text-align: center; }
.tm-text-right { text-align: right; }
.tm-text-primary { 
    color: #374437; 
    font-size: 20px; 
    line-height: 1.4;
}
.tm-text-secondary { color: #374437; }
.tm-text-link { color: #999; }
.tm-text-link:hover { color: #99CC99; }
.tm-relative { position: relative; }
.tm-text-map{ 
    color: #e0e0e0; 
    margin-bottom: 50px; 
    text-align: center;
    font-size: 45px;
    font-family: "Didot", serif;
}
.tm-text-title{
    color: #374437;
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px; 
    font-family: "Didot", serif;
    font-weight: bold;
}

.tm-hr {
    border-color: #e0e0e0;
    width: 35%;
}

.tm-hr-title {
    border-color: #e0e0e0;
    width: 15%;   
}

.tm-mr {
    margin-right: 0;
    margin-left: auto;
}

.tm-ml {
    margin-left: 0;
    margin-right: auto;
}

.tm-mb-20 { margin-bottom: 20px; }
.tm-my-50 { margin-bottom: 10px; }
/* .tm-mb-80 { margin-bottom: 80px; } */
/* .tm-mb-130 { margin-bottom: 130px; } */
/* .tm-mb-200 { margin-bottom: 200px; } */

/* Layout */
.tm-section { display: flex; }

.tm-section-white{ 
    display: flex;
    background: #5a6650; }

.tm-section-col {
    flex: 0 0 50%;
    width: 50%;
    
}

.tm-content {
    padding: 0px 70px 0px 70px;
    box-sizing: border-box;
}

.tm-content-small { padding: 70px 70px 70px 70px; }
.tm-content-small-top { padding-top: 130px; }

.tm-row {
    display: flex;
}

.tm-col {
    flex: 0 0 50%;
    width: 50%;
    padding: 0px 50px 0px 0px;
    box-sizing: border-box;
}

.tm-media {
    display: flex;
    align-items: flex-start;
    margin-top: 30px;
    /* margin-bottom: 20px; */
}

.tm-media img {
    width: 200px;
    height: 200px;
}

.tm-media-body {  padding-left: 20px; }

.tm-media-span {
    margin-bottom: 15px;
    display: block;
    text-align: left;
}

.world_map_design {
    width: 100%;
    height: 100%;
    padding: 0px 0px 70px 0px;
    box-sizing: border-box;
    text-align: center;
    color: #374437;
}

.boxplot_design {
    width: 100%;
    height: 100%;
    padding: 0px 0px 0px 80px;
    box-sizing: border-box;
}

.tm-media-boxplot {
    display: flex;
    align-items: flex-start;
}

.white_container{
    color: #e0e0e0;
    background-color: #374437;
    display:flex;
}

.column-2{
    columns: 2;
    column-gap: 5%;
}

.factor-spacing {
    padding: 30px 0px 0px 0px;
    box-sizing: border-box;
}

.parallel-spacing {
    padding: 0px 20px 0px 90px;
    box-sizing: border-box;
}


.border{
    background-color: #e0e0e0;
    text-align: center;
    padding: 20px 10px 20px 10px
}

.collapsible {
    padding: 20px 70px 20px 70px;
    cursor: pointer;
    border: none;
    outline: none;
    color: #fffffff1;
    font-size: 32px;
    text-align: center;
    font-family: "Didot", serif;
    font-weight: bold;
    background-color: #374437;
  }
  
  .active, .collapsible:hover {
    background-color: #e0e0e0;
    color: #374437;
  }

  .content {
    padding: 20px 70px 20px 70px;
    transition: max-height 0.2s ease-out;
    display: block;
    overflow: hidden;
  }

  .region-styling{
    text-align: center;
  }

  .graph {
    padding: 20px 70px 20px 70px;
    display: none;
    overflow: hidden;
  }

  .collapsible:hover::after{
    content: "\2212"; 
    float: right;
    color: #374437;
    font-weight: 300;
    font-weight: bolder; 
  }

.collapsible:after {
    content: '\2212'; 
    color: #e0e0e0;
    float: right;
    margin-left: 5px;
    font-weight: bolder; 
  }
  
  .active:after  {
    content: "\002B"; 
    color: #374437;
    font-weight: bolder; 
  }

.active:hover::after{
    content: "\002B"; 
    color: #374437;
    font-weight: 300;
    font-weight: bolder; 
  } 

.btn-group button {
    background-color: #858585; /* Green background */
    border: 1px solid #e0e0e0; /* Green border */
    color: white; /* White text */
    font-size: 18px;
    display: inline;
    padding: 10px 5px 10px 5px; /* Some padding */
    width: 15%;
    cursor: pointer; /* Pointer/hand icon */    
    text-align: center;
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    font-weight: bolder;
    background-color: #374437;
    color: #e0e0e0;
  }

  .btn-group button:focus{
    font-weight: bolder;
    background-color: #374437;
    color: #e0e0e0;
}
